/* ***************************  Accordion    ***********************************************/

.accordion {
    width: 100%;
    margin: 20px auto 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 0px;
}

.accordion li {
    margin-bottom: 10px;
    list-style: none;
}

.accordion .link {
    cursor: pointer;
    display: block;
    padding: 15px 15px 15px 20px;
    color: #4D4D4D;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #c2c2c2;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    background: url(../images/Info-Tab.jpg) repeat-x;
    border-radius: 4px;
}

.accordion .link-01 {
    cursor: pointer;
    display: block;
    padding: 6px;
    color: #4D4D4D;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #c2c2c2;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    background: url(../images/Info-Tab.jpg) repeat-x;
    border-radius: 0px;
    height: 50px;
    line-height: 50px;
}

.accordion .link-01 div {
    color: #4D4D4D;
    font-size: 14px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-right: 24px;
}

.accordion .link-01 img {
    width: 34px;
    height: 34px;
    margin-right: 10px;
    float: left;
    border-radius: 40px;
}

.accordion li i {
    position: absolute;
    top: 16px;
    left: 12px;
    font-size: 18px;
    color: #595959;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.accordion li i.mdi-chevron-down {
    right: 12px;
    left: auto;
    font-size: 23px;
    line-height: 14px;
}

.accordion li.open .link {
    color: #357211;
}

.accordion li.open i {
    color: #357211;
}

.accordion li.open i.mdi-chevron-down {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.submenu {
    display: none;
    background: #FFF;
    font-size: 14px;
    padding: 10px;
    border: 1px solid #c2c2c2;
    border-top: none;
    margin-top: -3
}

.submenu li {
    border-bottom: 0px solid #4b4a5e;
}

.submenu li img {
    width: 100%;
    height: 100%;
}

.submenu li p {
    font-size: 15px;
    color: #333333;
    line-height: 22px;
    text-align: justify;
    margin: 0px;
}

.submenu a {
    display: block;
    text-decoration: none;
}


/****************************  End Accordion    ***********************************************/