[data-letters]:before {
    content: attr(data-letters);
    display: inline-block;
    font-size: 1em;
    width: 3em;
    height: 3em;
    line-height: 3em;
    text-align: center;
    border-radius: 50%;
    background: #0A3043;
    vertical-align: middle;
    margin-right: 0.5em;
    color: white;
}

.user-list li {
    margin-top: 0px!important;
    margin-bottom: 10px;
    list-style: none;
    float: left;
    width: 100%;
    border-bottom: #babab9 1px solid;
    background: url(../images/Info-Tab.jpg) repeat-x;
    background-size: 100% 100%;
    margin-bottom: 0px;
}

.affi-back {
    background-image: url("../images/AffiliBG.jpg") !important;
    background-size: auto 100%;
    background-position-x: center;
    min-height: 50%;
    background-repeat: no-repeat;
}

#userdefinedcontent strong {
    font-weight: 800!important;
}