.blog-desc-01 {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 42px;
}

.blog-desc-01 span {
    font-size: 12px;
    margin-top: -6px;
    position: absolute;
}

.blog-date {
    width: 56px;
    height: 62px;
    background: url(../images/blog-date.png);
    position: absolute;
    float: right;
    margin-left: 45px;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    text-align: center;
    padding-top: 5px;
}

.card-01 {
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 6px;
    margin-bottom: 12px;
    -webkit-transition: box-shadow .3s cubic-bezier(.4, 0, .2, 1);
    transition: box-shadow .3s cubic-bezier(.4, 0, .2, 1);
    max-height: 200px;
    /* border-radius: 4px; */
    padding: 0;
}

container:after,
.container:before,
.row:after,
.row:before {
    line-height: 0 !important;
    display: block !important;
    content: "" !important;
}

.ecat {
    margin-bottom: 15px;
    padding: 1px;
    clear: both;
    position: relative;
}

.eforumtitle {
    font-size: 14px;
    color: #333333;
    font-weight: 600;
}

a.eforumtitle {
    font-size: 14px;
    color: #333333;
    font-weight: 600;
}

.erow {
    margin-top: 15px;
    margin-right: 0px;
    margin-left: 0px;
    border-bottom: 1px dashed #E5E5E5;
}

.icon-01 img {
    max-width: 100%;
    max-height: 100%;
    position: relative;
    top: 0px;
    left: -3px;
    border-radius: 50px;
}