/*Chat*/

.listHorizontalLine {
    height: 1px;
    width: 100%;
    background-color: #8598A1;
}

.list-chat  {
    position: relative;
}
.list-chat ul li {
    list-style: none;
    overflow: hidden;
    padding: 5px 20px 10px 0px;
}

.list-chat ul {
    padding-top: 20px;
    padding-bottom: 50px;
}

ul.chat {
    width: 100%;
    margin: 12px 0px !important;
    padding: 0px 0px 0px 10px !important;
}

ul.chat li .queryMesg {
    padding: 6px 10px 6px 20px;
    font-size: 1.1em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    max-width: 75%;
    min-width: 50%;
    background: #EBF9E1;
    border-radius: 5px;
    float: right;
}

li .queryMesg::after {
    content: "";
    position: absolute;
    right: 3px;
    border-top: 13px solid transparent;
    border-left: 26px solid #EBF9E1;
}

ul.chat li .ansMessage {
    padding: 6px 10px 6px 20px;
    font-size: 1.1em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    max-width: 75%;
    min-width: 50%;
    position: relative;
    background: #B6C1C7;
    border-radius: 5px;
    float: left;
    left: 25px;
}

li .ansMessage::before {
    content: "";
    position: absolute;
    top: 8px;
    left: -25px;
    border-top: 13px solid transparent;
    border-right: 26px solid #B6C1C7;
}

.msgTxtbox {
    height: 48px; /*30*/
    width: 100%;
    position: fixed;
    bottom: 51px; /*70*/
    border: 1px solid #c7c7c7;
}

.leftDiv {
    border-style: solid;
    border-right: 1px solid #c7c7c7;
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    float: left;
    width: 90%;
}

.rightDiv {
    text-align: center;
    font-size: 18px;
    line-height: 45px;
    background: #FFFFFF;
}

.queryContent {
    color: #999999;
    font-family: "Helvetica";
    font-size: 18px;
    padding: 56px 10px;
}

.queryContent ul {
    padding: 0;
    list-style: none;
    padding-left: 0px;
    margin: 0;
}

.queryContent ul li {
    overflow: hidden;
    padding: 10px 20px 10px 0px;
}

.scrolltolastchat {
    border-radius: 20px;
    position: fixed;
    bottom: 110px;
    right: 10px;
    display: none;
    background-color: #0A3043;
    padding: 2px 10px 2px 5px;
    z-index: 20;
}


/*To disable user select text on long press */
html {
    -webkit-user-select: none;
}

@media only screen and (max-width:360px) {
    .inputMsg {
        width: 100%;
        height: 45px;
        font-size: 14px;
        border: none;
        /* changes for text area */
        padding: 10px;
        overflow-y: scroll;
    }
}

@media only screen and (min-width:360px) {
    .inputMsg {
        width: 100%;
        height: 45px;
        font-size: 16px;
        border: none;
        /* changes for text area */
        padding: 10px;
        overflow-y: scroll;
    }
}

@media only screen and (min-width:413px) {
    .inputMsg {
        width: 100%;
        height: 45px;
        font-size: 17px;
        border: none;
        /* changes for text area */
        padding: 10px;
        overflow-y: scroll;
    }
}

@media only screen and (min-width:720px) {
    .inputMsg {
        width: 100%;
        height: 45px;
        font-size: 18px;
        border: none;
        /* changes for text area */
        padding: 10px;
        overflow-y: scroll;
    }
}

@media only screen and (min-width:1024px) {
    .inputMsg {
        width: 100%;
        height: 45px;
        font-size: 20px;
        border: none;
        /* changes for text area */
        padding: 10px;
        overflow-y: scroll;
    }
}