.card-01 {
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 6px;
    margin-bottom: 12px;
    -webkit-transition: box-shadow .3s cubic-bezier(.4, 0, .2, 1);
    transition: box-shadow .3s cubic-bezier(.4, 0, .2, 1);
    max-height: 170px;
    /* border-radius: 4px; */
    padding: 0;
}

container:after,
.container:before,
.row:after,
.row:before {
    line-height: 0 !important;
    display: block !important;
    content: "" !important;
}

.classified-desc-01 {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 42px;
}

.classified-desc-01 span {
    font-size: 12px;
    margin-top: -6px;
    position: absolute;
}

.back-top {
    float: right !important;
    width: 40px !important;
    height: 50px !important;
    right: 0px !important;
    top: 4px !important;
}

.back-top a {
    display: block !important;
    width: 38px !important;
    height: 41px !important;
    top: 0px !important;
    outline: none !important;
    color: #FFFFFF !important;
    text-align: center !important;
    font-size: 24px !important;
    line-height: 45px !important;
}