.mobile-frame {
    /*background: url(../images/preview-section.png) no-repeat center center;*/
    height: 200px;
    width: 100%;
    /*margin: 0 auto;*/
}
.mobile-frame-elements {
    /*background: url(../images/golfAnimated.gif) no-repeat center center;*/
    margin-top: 92px;
    /*left: 24px;*/
    width: 100%;
    height: 200px;
    padding: 0px;
    text-align: center;
    display:inline;
}

.mobile-frame-elements-position {
    position: absolute;
    z-index: -2;
}
.mobile-frame-elements-noimage {
    margin-top: 92px;
    position: absolute;
    /*left: 24px;*/
    width: 100%;
    height: 200px;
    padding: 0px;
    text-align: center;
    display:inline;
    z-index:-2;
}

#over img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -webkit-transition: opacity 150ms;
    -moz-transition: opacity 150ms;
    -ms-transition: opacity 150ms;
    transition: opacity 150ms;
    border-radius: 30px;
    background-color: rgba(220, 220, 220, 0.8);
}

.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0;background-color:transparent}

/*Customized on 1-4-2016*/

.bg-bottom{
        position: relative;
}

.mobile-frame-logo {
    /*height: 60px;*/
    position: absolute;
    width: 100%;
    top: 30px;
}
#top-carousel{
    position: relative;
}
.circles-wrapper{
    z-index:100;
    position:absolute;
    width: 100%;
    padding: 0px 15px;
    bottom: 1px;
    text-align: center;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
}
.circles-wrapper-full{
     z-index:100;
    position:absolute;
    width: 100%;
    padding: 5px 15px;
    bottom: 10px;
    text-align: center;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
}
.circle{
    display: inline-block;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius:50%;
    width: 10px;
    height: 10px;
    border:2px solid #ffffff;
    margin: 0 2px;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
}
.circle img{
    width: 100%;
    border-radius:50%;
    height: 100%;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -webkit-transition: opacity 150ms;
    -moz-transition: opacity 150ms;
    -ms-transition: opacity 150ms;
    transition: opacity 150ms;
    margin-top: -15px;
}

.circleRepr {
    display: inline-block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    border: 2px solid #ffffff;
    margin: 0 2px;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
}

.circleRepr img {
    width: 100%;
    border-radius: 50%;
    height: 100%;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -webkit-transition: opacity 150ms;
    -moz-transition: opacity 150ms;
    -ms-transition: opacity 150ms;
    transition: opacity 150ms;
    margin-top: -15px;
}
.btn-lng-01{
    background: #0A3043;
    height: 50px;
    line-height: 50px;
}
#content-launch{
    height: 100vh;
}
.btn-lng-01:hover{
    background-color: #0A3043;
}
/**********************/

.clubhead {
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    line-height: 28px;
    margin-top: 0px;
    text-align: right;
}
.button__badge {
    background-color: #fa3e3e;
    border-radius: 20px;
    color: white;
    padding: 6px 10px;
    font-size: 10px;
    position: relative;
    top: 15px;
    left: 20px;
}
.p-l-r-10 {
    padding:0px 15px;
}
.bg-blur{
    background-image: url("../images/bg-home.jpg")!important;
    background-size: 120%;
}
.mySlides {
    /*border: 1px solid aliceblue;*/
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.3),0 5px 5px 0 rgba(0,0,0,0.3) !important;
}
.icontitle{
    color:#fff;
    font-size:10px;
}
@media only screen and (min-width:428px) {
    .button__badge {
        background-color: #fa3e3e;
        border-radius: 40px;
        color: white;
        padding: 7px 12px;
        font-size: 13px;
        position: relative;
        top: 17px;
        left: 26px;
    }
    .icontitle{
        color:#fff;
        font-size:11px;
    }
    .clubhead {
        font-size: 26px;
        font-weight: 500;
        color: #fff;
        line-height: 30px;
        margin-top: 0px;
        text-align: right;
    }
}
@media only screen and (min-width:620px) {

    .button__badge {
        background-color: #fa3e3e;
        border-radius: 44px;
        color: white;
        padding: 7px 15px;
        font-size: 22px;
        position: relative;
        top: 24px;
        left: 40px;
    }
    .icontitle{
        color:#fff;
        font-size:12px;
    }
    .clubhead {
        font-size: 32px;
        font-weight: 500;
        color: #fff;
        line-height: 40px;
        margin-top: 0px;
        text-align: right;
    }
}

@media only screen and (max-width:360px) {
    .homeicons{
        float:left;
        width:25%;
        text-align: center;
        line-height: 11px;
    }
    .index-flow {
        margin-bottom: 0px;
    }
    .indx_login_container {
        margin-top: 30px;
    }
    .indx_login_btn_pad {
        margin-top: 0%;
    }
    .indx_error_container {
        margin-top: 5px;
    }
    .dashboard-carousel-height {
        height:160px;
        margin-bottom:20px;
    }
    .evnt-tkt-icon {
        content:url("../images/home/small/event-tkt.png");
    }
    .facibok-icon {
        content:url("../images/home/small/bookings.png");
    }
    .trans-icon {
        content:url("../images/home/small/transactions.png");
    }
    .timesheet-icon{
        content:url("../images/home/small/timesheet.png");
    }
    .gc-icon {
        content:url("../images/home/small/golfcourse.png");
    }
    .scard-icon {
        content:url("../images/home/small/scorecard.png");
    }
    .noti-icon {
        content:url("../images/home/small/notifications.png");
    }
    .news-icon {
        content:url("../images/home/small/news.png");
    }
    .connect-icon {
        content:url("../images/home/small/connect.png");
    }
    .chat-icon {
        content:url("../images/home/small/chat.png");
    }
    .offer-icon {
        content:url("../images/home/small/offers.png");
    }
    .gtourna-icon {
        content:url("../images/home/small/tournaments.png");
    }
    .evnt-icon {
        content:url("../images/home/small/events.png");
    }
    .fnb-icon {
        content:url("../images/home/small/fnb.png");
    }
    .contact-icon {
        content:url("../images/home/small/contact.png");
    }
    .blog-icon {
        content:url("../images/home/small/blog.png");
    }
    .sponsor-icon {
        content:url("../images/home/small/sponsors.png");
    }
    .icontitle{
        font-size:9px;
    }
    .titlename {
        font-size:15px;
        margin-top:3px;
    }
    .btn {
        font-size: 16px !important;
        padding: 0px 0px !important;
    }
}
@media only screen and (min-width:360px) {
    .homeicons{
        float:left;
        width:25%;
        text-align: center;
        line-height: 14px;
    }
    .index-flow {
        margin-bottom: 0px;
    }
    .indx_login_container {
        margin-top: 50px;
    }
    .indx_login_btn_pad {
        margin-top: 0%;
    }
    .indx_error_container {
        margin-top: 10px;
    }
    .dashboard-carousel-height {
        height:37%;
        margin-bottom:0px;
    }
    .evnt-tkt-icon {
        content:url("../images/home/large/event-tkt.png");
    }
    .facibok-icon {
        content:url("../images/home/large/bookings.png");
    }
    .trans-icon {
        content:url("../images/home/large/transactions.png");
    }
    .timesheet-icon{
        content:url("../images/home/large/timesheet.png");
    }
    .gc-icon {
        content:url("../images/home/large/golfcourse.png");
    }
    .scard-icon {
        content:url("../images/home/large/scorecard.png");
    }
    .noti-icon {
        content:url("../images/home/large/notifications.png");
    }
    .news-icon {
        content:url("../images/home/large/news.png");
    }
    .connect-icon {
        content:url("../images/home/large/connect.png");
    }
    .chat-icon {
        content:url("../images/home/large/chat.png");
    }
    .offer-icon {
        content:url("../images/home/large/offers.png");
    }
    .gtourna-icon {
        content:url("../images/home/large/tournaments.png");
    }
    .evnt-icon {
        content:url("../images/home/large/events.png");
    }
    .fnb-icon {
        content:url("../images/home/large/fnb.png");
    }
    .contact-icon {
        content:url("../images/home/large/contact.png");
    }
    .blog-icon {
        content:url("../images/home/large/blog.png");
    }
    .sponsor-icon {
        content:url("../images/home/large/sponsors.png");
    }
    .icontitle{
        font-size:11px;
    }
    .titlename {
        font-size:19px;
        margin-top:5px;
    }
    .btn {
        font-size: 18px !important;
        padding: 0px 10px !important;
    }
}

@media only screen and (min-width:413px) {
    .indx_login_container {
        margin-top: 70px;
    }
    .indx_login_btn_pad {
        margin-top: 0%;
    }
    .indx_error_container {
        margin-top: 20px;
    }
    .btn {
        font-size: 20px !important;
        padding: 0px 10px !important;
    }
    .dashboard-carousel-height {
        height:37%;
        margin-bottom:0px;
    }
}

@media only screen and (min-width:720px) {
    .homeicons{
        float:left;
        width:25%;
        text-align: center;
        line-height: 10px;
    }
    .index-flow {
        margin-bottom: 0px;
    }
    .indx_login_container {
        margin-top: 100px;
    }
    .indx_login_btn_pad {
        margin-top: 10%;
    }
    .indx_error_container {
        margin-top: 40px;
    }
    .dashboard-carousel-height {
        height:37%;
        margin-bottom:0px;
    }
    .evnt-tkt-icon {
        content:url("../images/home/x-large/event-tkt.png");
    }
    .facibok-icon {
        content:url("../images/home/x-large/bookings.png");
    }
    .trans-icon {
        content:url("../images/home/x-large/transactions.png");
    }
    .timesheet-icon{
        content:url("../images/home/x-large/timesheet.png");
    }
    .gc-icon {
        content:url("../images/home/x-large/golfcourse.png");
    }
    .scard-icon {
        content:url("../images/home/x-large/scorecard.png");
    }
    .noti-icon {
        content:url("../images/home/x-large/notifications.png");
    }
    .news-icon {
        content:url("../images/home/x-large/news.png");
    }
    .connect-icon {
        content:url("../images/home/x-large/connect.png");
    }
    .chat-icon {
        content:url("../images/home/x-large/chat.png");
    }
    .offer-icon {
        content:url("../images/home/x-large/offers.png");
    }
    .gtourna-icon {
        content:url("../images/home/x-large/tournaments.png");
    }
    .evnt-icon {
        content:url("../images/home/x-large/events.png");
    }
    .fnb-icon {
        content:url("../images/home/x-large/fnb.png");
    }
    .contact-icon {
        content:url("../images/home/x-large/contact.png");
    }
    .blog-icon {
        content:url("../images/home/x-large/blog.png");
    }
    .sponsor-icon {
        content:url("../images/home/x-large/sponsors.png");
    }
    .icontitle{
        font-size:13px;
    }
    .titlename {
        font-size:23px;
        margin-top:5px;
    }
    .btn {
        font-size: 24px !important;
        padding: 0px 10px !important;
    }
}

@media only screen and (min-width:1024px) {
    .dashboard-carousel-height {
        height:36%;
        margin-bottom:0px;
    }
    .indx_login_container {
        margin-top: 150px;
    }
    .indx_login_btn_pad {
        margin-top: 12%;
    }
    .indx_error_container {
        margin-top: 60px;
    }
    .icontitle{
        font-size:13px;
    }
    .titlename {
        font-size:26px;
        margin-top:5px;
    }
}

.dashboard-carousel-height-override {
    height:200px !important;
    margin-bottom:20px !important;
}

.icon-boder {
    border-radius: 50%;
    color: none;
    /*border: 1px solid #ffffff;*/
    background-color:none;
}