.back-top-01 {
    float: right;
    width: 40px;
    height: 42px;
    margin-right: 5px;
    position: absolute;
    right: 0px;
    top: 12px;
    color: #FFFFFF;
    text-align: center;
    font-size: 24px;
    line-height: 45px;
}

.container:after,
.container:before,
.row:after,
.row:before {
    line-height: 0 !important;
    display: block !important;
    content: "" !important;
}

.dropdown-menu {
    border-radius: 2px 0 2px 2px !important;
    right: 0 !important;
    left: auto !important;
    -webkit-transform-origin: 100% 0 !important;
    -ms-transform-origin: 100% 0 !important;
    transform-origin: 100% 0 !important;
}

.span_1_of_3 {
    width: 100%;
    margin: 0px;
}

.span_1_of_3:hover {
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    color: #fff;
}

.card-01 {
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 6px;
    margin-bottom: 12px;
    -webkit-transition: box-shadow .3s cubic-bezier(.4, 0, .2, 1);
    transition: box-shadow .3s cubic-bezier(.4, 0, .2, 1);
    max-height: 200px;
    /* border-radius: 4px; */
    padding: 0;
}

.card-heading {
    display: block !important;
    margin-top: 0px !important;
    margin-bottom: 5px !important;
}

.w3-left,
.w3-right,
.w3-badge {
    cursor: pointer
}

.w3-badge {
    height: 13px;
    width: 13px;
    padding: 0;
    background-color: transparent
}