.back-top-01 {
    float: right;
    width: 40px;
    height: 42px;
    margin-right: 5px;
    position: absolute;
    right: 0px;
    top: 12px;
    color: #FFFFFF;
    text-align: center;
    font-size: 24px;
    line-height: 45px;
}

.dropdown-menu {
    border-radius: 2px 0 2px 2px !important;
    right: 0 !important;
    left: auto !important;
    -webkit-transform-origin: 100% 0 !important;
    -ms-transform-origin: 100% 0 !important;
    transform-origin: 100% 0 !important;
}

.card-heading {
    display: block !important;
    margin-top: 0px !important;
    margin-bottom: 5px !important;
}

.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0;background-color:transparent}