.user-list li {
    margin-bottom: 10px;
    list-style: none;
    float: left;
    width: 100%;
    border-bottom: #babab9 1px solid;
    background: url(../images/Info-Tab.jpg) repeat-x;
    background-size: 100% 100%;
    margin-bottom: 0px;
}

.bold-match-color {
    font-size: 18px !important;
    color: #0A3043 !important;
    font-weight: bold !important;
}

.container:after,
.container:before,
.row:after,
.row:before {
    line-height: 0 !important;
    display: block !important;
    content: "" !important;
}

.picker__table,
table {
    border-collapse: collapse !important;
    border-spacing: 0 !important;
}

.picker__input {
    background-color: #FFFFFF !important;
    border: #C1C1C1 1px solid !important;
    color: #03131E!important;
    cursor: text!important;
}

.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0;background-color:transparent}