.facility-section {
    border-style: solid;
    border-color: #d8d8d8;
    border-width: 1px 1px 2px 1px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 10px;
    margin-bottom: 10px;
    background: #cce5ff;
}

.facility-section-title {
    width: 100%;
    padding: 0px;
    display: inline-block;
    transition: all linear 0.15s;
    font-size: 1.200em;
}

.facility-section-title.active,
.facility-section-title:hover {
    /* Type */
    text-decoration: none;
}

.facility-section:last-child .facility-section-title {
    border-bottom: none;
}


/*----- Section Content -----*/

.facility-section-content {
    padding: 15px;
    display: none;
}

.fandb {
    color: #003f80;
}

.facility_image {
    width: 20%;
    float: left;
    max-width: 121px;
    margin: 7px;
}

.facility_image img {
    height: 94px;
    border-radius: 2px 0px 0px 0px;
    background: #FFF none repeat scroll 0% 0%;
    border-radius: 66px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
}

.add-ons {
    color: #666;
    font-weight: 500;
    font-size: 17px;
    float: right;
    margin-top: 5px;
}

.add-ons span {
    margin-right: 5px;
}

.facility_details {
    width: 76%;
    float: left;
}

#head-title {
    font-size: 14px;
    line-height: 16px;
    color: #2f2f2f;
    font-weight: 500;
    margin: 14px 0px 0px 0px;
    width: 100%;
}

#head-title-01 {
    font-size: 12px;
    line-height: 16px;
    color: #2f2f2f;
    font-weight: 500;
    margin: 10px 0px;
}

.dtils {
    padding: 10px;
    float: left;
    width: 100%;
    font-size: 13px;
}

.rating span {
    display: none;
    font-size: 12px;
    margin-right: -3px;
}

.yellow-rate {
    color: #fdd000;
}

.gray-rate {
    color: #CBCBCB;
}

#desc {
    font-size: 11px;
    color: #333333;
}

#price {
    font-weight: 500;
    font-size: 16px;
    color: #FF3D40;
    margin: 5px 0px;
    float: right;
}

#price span {
    font-size: 16px;
    color: #FF3D40;
}

@media (max-width:320px) {
    .facility_image img {
        width: 90%;
    }
}

.card-01 {
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 6px;
    margin-bottom: 12px;
    -webkit-transition: box-shadow .3s cubic-bezier(.4, 0, .2, 1);
    transition: box-shadow .3s cubic-bezier(.4, 0, .2, 1);
    /* border-radius: 4px; */
    padding: 0;
}

@media screen (min-width:500px) and (max-width:768px) {
    #price {
        width: 90%;
        font-weight: 500;
        font-size: 20px;
        color: #FF3D40;
        margin: 5px 0px;
        float: right;
        position: relative;
        right: -12px;
        bottom: -42px;
    }
}

.accordion li .icon {
    position: absolute;
    top: 16px;
    left: 12px;
    font-size: 18px;
    color: #595959;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?ajk9il');
    src: url('fonts/icomoon.eot?ajk9il#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf?ajk9il') format('truetype'), url('fonts/icomoon.woff?ajk9il') format('woff'), url('fonts/icomoon.svg?ajk9il#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon1-"],
[class*=" icon1-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon1-drink24:before {
    content: "\e900";
}

.icon1-healthy-food6:before {
    content: "\e901";
}

.icon1-broccoli:before {
    content: "\e902";
}

.icon1-cheese14:before {
    content: "\e903";
}

.icon1-chilis:before {
    content: "\e904";
}

.icon1-cutlery6:before {
    content: "\e90c";
}

.icon1-drink110:before {
    content: "\e905";
}

.icon1-glass35:before {
    content: "\e906";
}

.icon1-hot56:before {
    content: "\e907";
}

.icon1-italian1:before {
    content: "\e90b";
}

.icon1-popcorn6:before {
    content: "\e90a";
}

.icon1-restaurant51:before {
    content: "\e908";
}

.icon1-turkey7:before {
    content: "\e909";
}

.w3-left,
.w3-right,
.w3-badge {
    cursor: pointer
}

.w3-badge {
    height: 13px;
    width: 13px;
    padding: 0;
    background-color: transparent
}