@media only screen and (max-width:360px) {
    .bold-match-color {
        font-size: 13px !important;
        color: #0A3043;
        font-weight: bold;
    }
    .con-nav-pad {
        position:absolute;
        padding-top:0%;
        margin-top:18%;
        margin-bottom:0px!important;
        background-color: #fff;
        z-index:5;
    }
    .con-list-pad {
        padding-top:32%;
        padding-right:0px!important;
        padding-left:0px!important;
    }
    .list-tbl-pad {
        padding-top: 15%;
    }
}

@media only screen and (min-width:360px) {
    .bold-match-color {
        font-size: 14px !important;
        color: #0A3043;
        font-weight: bold;
    }
    .con-nav-pad {
        position:absolute;
        padding-top:0%;
        margin-top:15%;
        margin-bottom:0px!important;
        background-color: #fff;
        z-index:5;
    }
    .con-list-pad {
        padding-top:27%;
        padding-right:0px!important;
        padding-left:0px!important;
    }
    .list-tbl-pad {
        padding-top: 13%;
    }
}

@media only screen and (min-width:413px) {
    .bold-match-color {
        font-size: 15px !important;
        color: #0A3043;
        font-weight: bold;
    }
    .con-nav-pad {
        position:absolute;
        padding-top:0%;
        margin-top:15%;
        margin-bottom:0px!important;
        background-color: #fff;
        z-index:5;
    }
    .con-list-pad {
        padding-top:27%;
        padding-right:0px!important;
        padding-left:0px!important;
    }
    .list-tbl-pad {
        padding-top: 13%;
    }
}

@media only screen and (min-width:720px) {
    .bold-match-color {
        font-size: 18px !important;
        color: #0A3043;
        font-weight: bold;
    }
    .con-nav-pad {
        position:absolute;
        padding-top:0%;
        margin-top:10%;
        margin-bottom:0px!important;
        background-color: #fff;
        z-index:5;
    }
    .con-list-pad {
        padding-top:18%;
        padding-right:0px!important;
        padding-left:0px!important;
    }
    .list-tbl-pad {
        padding-top: 9%;
    }
}

@media only screen and (min-width:1024px) {
    .bold-match-color {
        font-size: 20px !important;
        color: #0A3043;
        font-weight: bold;
    }
    .con-nav-pad {
        position:absolute;
        padding-top:0%;
        margin-top:8%;
        margin-bottom:0px!important;
        background-color: #fff;
        z-index:5;
    }
    .con-list-pad {
        padding-top:16%;
        padding-right:0px!important;
        padding-left:0px!important;
    }
    .list-tbl-pad {
        padding-top: 8%;
    }
}

.user-arrow {
    float: right;
}

/*.user-arrow a {
    color: #0A3043;
}*/

.user-list li {
    margin-bottom: 10px;
    list-style: none;
    float: left;
    width: 100%;
    border-bottom: #babab9 1px solid;
}

.location-serch-body {
    padding: 15px;
    background: #0A3043;
    border-top: 1px #4B1D4B solid;
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    width:100%;
    z-index:5;
}

.location-serch-div {
    width: 100%;
    height: 36px;
    border-radius: 30px;
    background: #03131E;
}

.location-serch-btn {
    width: 40px;
    height: 36px;
    background: url(../images/search-icon.png) no-repeat;
    float: right;
    cursor: pointer;
}

.location-input {
    width: 75%;
    height: 34px;
    line-height: 34px;
    border: none;
    background: none;
    color: #FFFFFF;
    font-size: 14px;
    margin-left: 19px;
    float: left;
}

.find-details {
    background: #FFFFFF;
    height: 71px;
    padding: 7px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.user-img-01 {
    width: 55px;
    height: 55px;
    float: left;
}

.user-img-01 img {
    width: 50px;
    height: 50px;
    border-radius: 40px;
    border: 2px #0A3043 solid;
}

.nav-justified {
    width: 100%
}

.nav-justified>li {
    display: table-cell!important;
    float: none!important;
    width: 1%!important
}

.nav-justified>li>a {
    text-align: center
}

.tab-pane {
    display: none;
    visibility: hidden
}

.tab-pane.active {
    display: block;
    visibility: visible
}

.content-inner {
    margin-top: 48px;
    margin-bottom: 48px;
    padding-left: 0px;
    padding-right: 0px;
}

.disabled {
    cursor: not-allowed;
    opacity: 0.5;
}