.gr-slider-wrap {
    width: 1000px;
    height: 100%;
    text-align: center;
    overflow: auto;
}

.mT5 {
    margin-top: 5px;
}

.mT10 {
    margin-top: 10px;
}

.mT15 {
    margin-top: 15px;
}

.swiper-pagination-bullet-active {
    background: #0A3043 !important;
}

.overHide {
    overflow: hidden;
}

.lazyImg {
    width: auto;
    height: auto;
    /* max-width: 100%; */
    height: 100%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
}

.imgDivNoBg {
    position: relative;
    padding-right: 0;
    padding-left: 0;
    width: 90px;
    height: 100%;
    overflow: hidden;
    min-height: 90px;
    -webkit-border-radius: 50%;
}

.card-inner-01 {
    margin: 10px 12px;
}

.card-side {
    padding-right: 0px;
}

.card-01 {
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 6px;
    margin-bottom: 12px;
    -webkit-transition: box-shadow .3s cubic-bezier(.4, 0, .2, 1);
    transition: box-shadow .3s cubic-bezier(.4, 0, .2, 1);
    max-height: 200px;
    padding: 3px;
}

.card-heading {
    font-size: 20px;
    line-height: 24px;
}

.card-heading-name {
    font-size: 18px!important;
    display: block !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    color: #000000!important;
    padding-bottom: 10px;
}

.card-heading-club {
    color: #416D67;
    font-size: 14px;
    line-height: 20px;
}

.card-heading-country {
    color: #416D67;
    font-size: 12px;
    line-height: 18px;
}

.w3-left,
.w3-right,
.w3-badge {
    cursor: pointer
}

.w3-badge {
    height: 13px;
    width: 13px;
    padding: 0;
    background-color: transparent
}

.back-top-01 {
    float: right;
    width: 40px;
    height: 42px;
    margin-right: 5px;
    position: absolute;
    right: 0px;
    top: 12px;
    color: #FFFFFF;
    text-align: center;
    font-size: 24px;
    line-height: 45px;
}

.container:after,
.container:before,
.row:after,
.row:before {
    line-height: 0 !important;
    display: block !important;
    content: "" !important;
}

.reserv-tab {
    text-align: center;
    border: 1px solid rgb(153, 156, 160);
    font-size: 14px;
    line-height: 34px;
    color: rgb(94, 94, 94);
    margin: 0 -1px;
    background: #B6C1C7;
}

.text-center {
    text-align: center;
}

.p-15 {
    padding: 15px;
    overflow: auto;
}

.radio-inline {
    float: left;
    font-size: 16px;
    text-transform: capitalize;
    width: 33.33%;
    text-align: left;
    margin-right: 0px;
}

.gr-summary-logo {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    border-radius: 1px;
}

.gr-summary-logo .glogo {
    text-align: center;
    padding: 15px;
}

.gr-summary-logo .gtitle {
    text-align: center;
    color: #0A3043;
    font-size: 14px;
    margin: 10px 0 0 0;
    text-transform: uppercase;
}

.gr-summary-logo img {
    width: 90px;
}

.sum-tab {
    padding: 5px;
    text-align: center;
    background-color: #00695C;
}

.sumcard-heading {
    font-size: 20px;
    line-height: 22px;
    color: #fff;
    margin: 7px 0 !important;
}

.box-shadow p {
    margin: 10px 0px 0px 0px;
}

input[type="radio"] {
    margin: 4px 4px 4px;
    padding: 0;
    width: 15px;
    height: 15px;
}

.teetime-inner {
    width: 10000px;
}

.teetime-slot {
    background-color: #ECECEC;
    padding: 10px;
    overflow-x: scroll;
}

.teedate-slot {
    background-color: #ECECEC;
    padding: 10px;
}

.teebox {
    position: relative;
    background-color: #FFFFFF;
    font-size: 16px;
    color: #707070;
    width: 80px;
    height: 75px;
    padding: 15px;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    float: left;
}

.teebox:hover {
    background-color: #FF5F5D;
    color: #FFFFFF;
}

.teebox:after {
    background: #FF6F6D;
    opacity: 0;
    transition: all 0.8s
}

.teebox:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.teedatebox {
    background-color: #FFFFFF;
    font-size: 16px;
    color: #707070;
    padding: 30px;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
}

.teedatebox:hover {
    background-color: #FF5F5D;
    color: #FFFFFF;
}

.teedatebox:after {
    background: #FF6F6D;
    opacity: 0;
    transition: all 0.8s
}

.teedatebox:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}


/* SAC style */


/* General Start */

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

[type="radio"]:checked+label,
[type="radio"]:not(:checked)+label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #383838;
}

[type="radio"]:checked+label:before,
[type="radio"]:not(:checked)+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid rgb(56, 56, 56);
    border-radius: 100%;
    background: #fff;
}

[type="radio"]:checked+label:after,
[type="radio"]:not(:checked)+label:after {
    content: '';
    width: 10px;
    height: 10px;
    background: rgb(56, 56, 56);
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

[type="radio"]:not(:checked)+label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="radio"]:checked+label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}


/* Base for label styling */

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}

[type="checkbox"]:not(:checked)+label,
[type="checkbox"]:checked+label {
    position: relative;
    padding-left: 1.95em;
    cursor: pointer;
}


/* checkbox aspect */

[type="checkbox"]:not(:checked)+label:before,
[type="checkbox"]:checked+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1.25em;
    height: 1.25em;
    border: 2px solid #ccc;
    background: #fff;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .1);
}


/* checked mark aspect */

[type="checkbox"]:not(:checked)+label:after,
[type="checkbox"]:checked+label:after {
    content: '✔';
    position: absolute;
    top: .1em;
    left: .2em;
    font-size: 1.2em;
    line-height: 0.8;
    color: #09ad7e;
    transition: all .2s;
}


/* checked mark aspect changes */

[type="checkbox"]:not(:checked)+label:after {
    opacity: 0;
    transform: scale(0);
}

[type="checkbox"]:checked+label:after {
    opacity: 1;
    transform: scale(1);
}


/* disabled checkbox */

[type="checkbox"]:disabled:not(:checked)+label:before,
[type="checkbox"]:disabled:checked+label:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd;
}

[type="checkbox"]:disabled:checked+label:after {
    color: #999;
}

[type="checkbox"]:disabled+label {
    color: #aaa;
}


/* accessibility */

[type="checkbox"]:checked:focus+label:before,
[type="checkbox"]:not(:checked):focus+label:before {
    border: 2px dotted blue;
}


/* hover style just for information */

label:hover:before {
    border: 2px solid #4778d9!important;
}


/* General End */

.clamp2 {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}

.clamp1 {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}

.bgCenteredImg {
    background-size: auto 100%;
    background-position-x: center;
    background-repeat: no-repeat;
}

.content-pad {
    padding: 10px;
    margin-top: 10px;
}

.course-row {
    overflow-y: auto;
    height: 105px;
    padding: 5px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    border-radius: 1px;
    margin-bottom: 10px;
}

.course-row-left {
    float: left;
    height: 100%;
    width: 35%;
    /* width: 41.66%; */
    background-size: auto 100%;
    background-position-x: center;
    background-repeat: no-repeat;
    /* background-color: #ebebeb; */
}

.course-row-left-centr {
    background-size: auto 90px;
    background-position: center;
}

.course-row-right {
    float: left;
    height: 100%;
    width: 65%;
    /* width: 58.33%; */
    padding: 0 15px;
}

.course-row-hdr,
.course-row-hdr p {
    font-size: 18px;
    line-height: 22px;
    max-height: 44px;
    margin: 5px 0;
}

.course-row-hdr p {
    margin: 0;
}

.course-row-club {
    font-size: 14px;
    line-height: 18px;
    max-height: 40px;
    margin: 3px 0;
}

.course-row-country {
    font-size: 12px;
    line-height: 16px;
    max-height: 16px;
}

.detail-banner-img {
    height: 50%;
    background-color: #cccccc;
}

#coursedetails img {
    max-width: 100%;
}

#bookingForm {
    display: none;
}

.hide {
    display: none;
}

.gr-slot-wrap {
    overflow: auto;
    padding: 8px;
}

.gr-slots {
    float: left;
    width: 33.33%;
    padding: 8px;
}

.gr-slots-content {
    background-color: #FFFFFF;
    font-size: 14px;
    color: rgb(56, 56, 56);
    text-align: center;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.gr-slots-content span {
    font-weight: 700;
}

.sectionSep {}

div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
    padding: 15px 10px;
    border-bottom: 1px solid #b8babd;
}

div.scrollmenu .gr-teeslot {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 5px;
    text-decoration: none;
}

.gr-teeslot-inner {
    background-color: #FFFFFF;
    font-size: 14px;
    color: rgb(56, 56, 56);
    text-align: center;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.2);
    padding: 20px 25px;
}

.gr-teeslot-inner span {
    font-weight: 700;
}

.gr-sel-row {
    overflow: auto;
    padding: 25px 15px;
}

.gr-col-xs-6 {
    width: 50%;
    float: left;
    line-height: 40px;
}

.gr-col-xs-6 select {
    height: 40px;
    width: 100%;
    text-align-last: center;
    background-color: #B6C1C7;
}

#timeSlot>.active>div,
#dateSlot>.active>div {
    background-color: rgb(255, 95, 94);
    color: #FFFFFF;
}

.course-desc {
    font-size: 16px;
    line-height: 26px;
}

.course-desc h3 {
    font-size: 18px;
    margin-top: 10px;
    line-height: 26px;
}

.media__caption {
    padding: 5px 10px;
    background: rgba(0, 0, 0, 0.6);
    color: #FFF;
}

.gr-summary-hdr {
    padding-top: 15px;
    background: #B6C1C7;
}

.gr-summary-hdr span {
    width: 160px;
    text-align: center;
    display: block;
    line-height: 25px;
    font-size: 12px;
    background: #546E7B;
    color: #FFF;
    margin: 0 auto;
    text-transform: uppercase;
}

.gr-summary-dtl {
    padding: 15px;
    text-align: center;
    font-weight: bolder;
    font-size: 14px;
    color: #000000;
}

.gr-amout-color {
    background: #64DD17;
}

.gr-booking-hdr {
    line-height: 40px;
    text-align: center;
    background-color: #546E7B;
    color: #FFFFFF;
}

.gr-summary-cancelBtn {
    float: right;
    line-height: 40px;
    width: 48%;
    /* padding: 0 40px; */
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 14px;
    text-align: center;
    background-color: #8bc34a;
    margin: 0 1%;
}

.redColor {
    background-color: rgb(244, 85, 87);
}

.gr-cancel-wrap {
    overflow: auto;
    //background: #dcedc8;
    background: #ECEFF1;
}

.gr-bdr {
    border: 1px solid #CCCCCC;
}

.gr-parent-wrap {
    overflow: auto;
    margin-bottom: 15px;
}

.course-club-name {
    font-size: 20px;
    line-height: 28px;
    padding-top: 20px;
    font-weight: bold;
}

.gr-summary-date {
    display: block;
}

.gr-summary-toTxt {
    line-height: 22px;
    font-size: 12px;
    color: #0A3043;
    text-transform: uppercase;
}

.gr-myBks .gr-booking-hdr {
    background-color: #009688;
}

.gr-myBks .gr-summary-hdr {
    background-color: #FFFFFF;
}

.my-bks-row {
    height: auto;
    padding: 10px;
}

.my-bks-row b {
    font-weight: bold;
}

.gr-summary-date-wrap {
    overflow: auto;
    font-size: 12px;
    margin: 0 -15px;
    padding: 10px 0;
    color: #607D8B;
}

.gr-summary-date-wrap>div {
    float: left;
    width: 50%;
    text-align: center;
}

.gr-view-btn {
    position: absolute;
    top: 10px;
    padding: 5px 15px;
    right: 10px;
    border: 1px solid #2196F3;
    border-radius: 4px;
    color: #2196F3;
    font-size: 12px;
}

.gr-bk-tabs>div {
    float: left;
    width: 50%;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 4px solid #FFFFFF;
}

.gr-bk-tabs>.selActive {
    border-bottom-color: #546E7B;
}

.gr-mybk-list {
    height: auto;
}

.gr-mybk-list .course-row-left {
    width: 25%;
    background-size: 100% auto;
    background-position-y: center;
    height: 80px;
}

.gr-mybk-list .course-row-right {
    width: 75%;
}

.gr-fullBtn {
    width: 100%;
    margin-top: 15px;
}

.gr-score-cont .title {
    font-size: 12px;
    line-height: 14px;
}

.gr-score-cont .name {
    font-size: 16px;
    line-height: 26px;
}

.gr-bk-height {
    height: 135px;
}

.bkclr1 {
    color: #607D8B;
}

.statusBtn {
    padding: 3px 5px;
    color: #FFFFFF;
    border-radius: 3px;
}

.bkStatus0,
.offlineStatus2,
.offlineStatus3 {
    background: #dc3545;
}

.bkStatus1,
.offlineStatus1 {
    background: #28a745;
}

.offlineStatus0 {
    background: #ffc107;
}

.scoreState0 {
    /* color: #90d63e; */
    color: #ffc107;
}

.statusBorder0 {
    border-left: 3px solid #ffc107;
}

.statusBorder1 {
    border-left: 3px solid #92cc4f;
}

.scoreState1 {
    border: 1px solid #2196F3;
    border-radius: 4px;
    color: #2196F3;
}

.gr-scorelist-left {
    float: left;
    width: 60%
}

.gr-scorelist-right {
    float: left;
    width: 40%
}

.gt-scorelist-dt {
    font-size: 12px;
    text-align: right;
}

.gt-scorelist-status {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 7px 20px;
    font-size: 12px;
    text-transform: uppercase;
}

.gr-scorecard-btn {
    width: 72%;
    margin: 0 auto 13px auto;
    box-shadow: none;
    font-size: 14px !important;
}

.gtTb-header {
    background-color: #3a3a3a;
    text-transform: uppercase;
    color: #FFFFFF;
}

.grNameFld {
    background-color: #8598A1;
}

.grScrFld {
    background-color: #FFFFFF;
    color: #2F2F2F;
}

.grRankHeader {
    font-size: 18px;
    color: #565656;
    text-align: center;
    font-weight: bold;
    background: #c5c5c5;
    line-height: 55px;
}

.grNav {
    line-height: 55px;
    top: 11px;
    font-weight: bold;
}

table .swiper-button-next {
    display: none;
}

.grAddIcon {
    font-size: 12px;
    border: 1px solid #FFFFFF;
    padding: 3px;
}