@media only screen and (max-width:360px) {
    .bold-match-color {
        font-size: 13px !important;
        color: #0A3043;
        font-weight: bold;
    }
    .list-tbl-pad {
        padding-top: 15%;
    }
}

@media only screen and (min-width:360px) {
    .bold-match-color {
        font-size: 14px !important;
        color: #0A3043;
        font-weight: bold;
    }
    .list-tbl-pad {
        padding-top: 13%;
    }
}

@media only screen and (min-width:413px) {
    .bold-match-color {
        font-size: 15px !important;
        color: #0A3043;
        font-weight: bold;
    }
    .list-tbl-pad {
        padding-top: 13%;
    }
}

@media only screen and (min-width:720px) {
    .bold-match-color {
        font-size: 18px !important;
        color: #0A3043;
        font-weight: bold;
    }
    .list-tbl-pad {
        padding-top: 9%;
    }
}

@media only screen and (min-width:1024px) {
    .bold-match-color {
        font-size: 20px !important;
        color: #0A3043;
        font-weight: bold;
    }
    .list-tbl-pad {
        padding-top: 8%;
    }
}

.user-arrow {
    float: right;
}

.user-arrow a {
    color: #0A3043;
}

.user-list li {
    margin-bottom: 5px;
    list-style: none;
    float: left;
    width: 100%;
    border-bottom: #babab9 1px solid;
}

.location-serch-body {
    padding: 15px;
    background: #0A3043;
    border-top: 1px #4B1D4B solid;
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    width:100%;
    z-index:5;
}

.location-serch-div {
    width: 100%;
    height: 36px;
    border-radius: 30px;
    background: #03131E;
}

.location-serch-btn {
    width: 40px;
    height: 36px;
    background: url(../images/search-icon.png) no-repeat;
    float: right;
    cursor: pointer;
}

.location-input {
    width: 75%;
    height: 34px;
    line-height: 34px;
    border: none;
    background: none;
    color: #FFFFFF;
    font-size: 14px;
    margin-left: 19px;
    float: left;
}
.foo {
    float: left;
    width: 25px;
    height: 18px;
    border: 1px solid rgba(0, 0, 0, .2);
}
.foo-no-boder {
    float: left;
    width: 25px;
    height: 18px;
}

.green {
    background: green;
}

.blue {
    background: blue;
}

.black {
    background: black;
}

.white {
    background: white;
}

.red {
    background: red;
}

.orange {
    background: orange;
}

.teal {
    background: teal;
}

.yellow {
    background: yellow;
}

.gold {
    background: DarkGoldenRod;
}

.grey {
    background: DimGrey;
}

.black {
    background: grey;
}