 .hide {
     display: none;
 }
 
 .dashboard-sw-carousel {
     width: 100%;
     height: 37%;
     top: 11.0%;
 }
 
 .dashboard-sw-carousel .swiper-slide>img {
     width: 100%;
     height: 100%;
 }
 
 .swiper-button-next,
 .swiper-button-prev {
     height: 22px;
     margin-top: -11px;
 }
 
 .swiper-pagination-bullet {
     background: #aeb4bb;
     opacity: 1;
     width: 10px;
     height: 4px;
     border-radius: 5px;
 }
 
 .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
     margin: 0 3px;
 }
 
 .swiper-pagination-bullet-active {
     background: #ffffff;
 }
 
 .menu-container {
     height: 42%;
     color: #ffffff;
     position: relative;
     overflow-x: hidden;
     overflow-y: scroll;
 }
 
 .mb-outer {
     display: table;
     position: absolute;
     height: 100%;
     width: 100%;
 }
 
 .mb-middle {
     display: table-cell;
     vertical-align: middle;
 }
 
 .mb-inner {
     margin-left: auto;
     margin-right: auto;
     height: 100%;
     padding: 0 5px;
 }
 
 .indx_login_container {
     margin: 0 !important;
 }
 
 .index_logo_pading {
     text-align: center;
     height: 50%;
 }
 
 .indx_login_btn_pad {
     margin: 0;
 }
 
 .mb-logoDiv {
     background-image: url('../images/logo.png');
     background-repeat: no-repeat;
     background-position: center;
     background-size: 60% auto;
 }
 
 .mb-menu-wrap {
     width: 50%;
     height: 50%;
     float: left;
     padding: 5px;
 }
 
 .mb-menu-inner {
     height: 100%;
     width: 100%;
     background: rgba(0, 0, 0, 0.4);
     position: relative;
 }
 
 .grNotification {
     position: absolute;
     top: 6px;
     right: 7px;
     background-color: #fa3e3e;
     font-size: 12px;
     border-radius: 50%;
     line-height: 20px;
     width: 20px;
     text-align: center;
     color: #FFFFFF;
 }
 
 .mb-notify-icon {
     float: right;
     padding: 15px;
     font-size: 22px;
 }
 
 .mb-cube-img {
     height: 100%;
     object-fit: cover;
     width: 100%;
 }
 
 .headerOver {
     background: none;
 }
 
 .mb-menu-img {
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 40px;
 }
 
 .mb-menu-title {
     position: absolute;
     bottom: 0;
     left: 0;
     right: 0;
     line-height: 40px;
     text-align: center;
     font-size: 12px;
     background: #FFFFFF;
     color: #000000;
     text-transform: uppercase;
 }
 
 .mb-lg-btns {
     width: 85%;
     margin-bottom: 15px;
 }
 
 .mb-float-wrap {
     overflow: auto;
     padding: 0 15px;
     font-size: 14px;
 }
 
 .mb-float-left,
 .mb-float-right {
     float: left;
     width: 50%;
 }
 
 .mb-float-left {
     text-align: left;
 }
 
 .mb-float-right {
     text-align: right;
 }
 
 .pad0_20 {
     padding: 0 20px;
 }
 
 .mT20 {
     margin: 15px 0;
 }
 
 .m0 {
     margin: 0;
 }
 
 .mb-rgWrap {
     text-align: center;
     margin: 0;
     font-size: 14px;
 }
 
 .mb-rgWrap span {
     text-transform: uppercase;
     text-decoration: underline;
 }
 
 @media only screen and (min-width: 760px) {
     .mb-inner {
         padding: 0 70px;
     }
     .mb-menu-wrap {
         padding: 10px;
     }
     .mb-logoDiv {
         background-size: 45% auto;
     }
     .mb-lg-btns {
         width: 60%;
         margin-bottom: 20px;
     }
 }