.switch_options hidden{
width:100%
display: block;
margin-bottom: 10px;
}
#front {
float: right;
}
.switch_options span.selected {
background: transparent linear-gradient(to bottom, #02579A 0%, #02579A 100%) repeat scroll 0% 0%;
border-color: #02579A;
color: #FFF;
}
.switch_options span:last-of-type {
border-radius: 20px;
}
.switch_options span {
display: inline-block;
border-radius:20px;
padding: 5px 14px;
margin: 0px;
cursor: pointer;
font-size: 12px;
font-weight: 700;
color: #555;
border: 1px solid #AAA;
text-transform: uppercase;
background: transparent linear-gradient(to bottom, #FFF 0%, #E5E5E5 100%) repeat scroll 0% 0%;
}
.table {
margin-top:15px !important;
}
.table td {
background-color: #0A3043 !important;
border: 1px solid #546E7B !important;
padding:5px !important;
vertical-align: middle !important;
text-align: center !important;
}

.rounds table td {
background-color: #88B018 !important;
border: 1px solid #546E7B !important;
padding:5px !important;
}
.table th {
background-color: #003f80 !important;
border: 1px solid #fff !important;
}
.input-field {
width: 50% !important;
color: #003f80;
text-align: center;
border-radius:20px;
}
select {
width: 90% !important;
height: 40px;
}
th {
text-align: center !important;
}

aColor{
	color: #fff;
}


.Player-section{
border-style: solid;
border-color: #d8d8d8;
border-radius: 20px;
margin-bottom:10px;
background:#FFFFFF;
}
.Player-section-title {
width:100%;
padding:0px;
display:inline-block;
transition:all linear 0.15s;
font-size:1.200em;
}

.Player-section-title.active, .Player-section-title:hover {
/* Type */
text-decoration:none;
}

.Player-section:last-child .facility-section-title {
border-bottom:none;
}

/*----- Section Content -----*/
.Player-section-content {
padding:15px;
display:none;
}

.Player_image{ width:28%; float:left; max-width: 121px;margin: 3px;}

.Player_image img {
height: 120px;
width:120px;
background: #FFF none repeat scroll 0% 0%;
border-radius: 60px;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
}

.Player_details{ width: 68%;  float: left; }

@media (max-width:320px) {
.Player_image img {width: 90%; height:90%;}
}