.location-serch-body {
    padding: 15px;
    background: #0A3043;
    border-top: 1px #4B1D4B solid;
    padding-top: 10px;
    padding-bottom: 10px;
}

.location-serch-div {
    width: 100%;
    height: 36px;
    border-radius: 30px;
    background: #03131E;
}

.location-serch-btn {
    width: 40px;
    height: 36px;
    float: right;
    background: url(../images/search-icon.png) no-repeat;
    cursor: pointer;
}

.location-input {
    width: 82%;
    height: 34px;
    line-height: 34px;
    border: none;
    background: none;
    color: #FFFFFF;
    font-size: 14px;
    margin-left: 19px;
    float: left;
}

.fbtn-container {
    display: none!important;
}

.fbtn-container {
    backface-visibility: hidden;
    position: fixed;
    right: 16px;
    bottom: 62px;
    -webkit-transition: margin-bottom .3s cubic-bezier(.4, 0, .2, 1), right .3s cubic-bezier(.4, 0, .2, 1);
    transition: margin-bottom .3s cubic-bezier(.4, 0, .2, 1), right .3s cubic-bezier(.4, 0, .2, 1);
    z-index: 21
}

.fbtn-container {
    -webkit-backface-visibility: hidden;
}

.fbtn-inner.open {
    max-height: 99999px;
    overflow: visible;
    -webkit-transition: max-height 0s;
    transition: max-height 0s
}

.fbtn-inner.open .fbtn {
    opacity: 1;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transition-delay: 300ms;
    transition-delay: 300ms
}

.fbtn-inner.open .fbtn:nth-last-child(1) {
    -webkit-transition-delay: 0s;
    transition-delay: 0s
}

.fbtn-inner.open .fbtn:nth-last-child(2) {
    -webkit-transition-delay: 50ms;
    transition-delay: 50ms
}

.fbtn-inner.open .fbtn:nth-last-child(3) {
    -webkit-transition-delay: 100ms;
    transition-delay: 100ms
}

.fbtn-inner.open .fbtn:nth-last-child(4) {
    -webkit-transition-delay: 150ms;
    transition-delay: 150ms
}

.fbtn-inner.open .fbtn:nth-last-child(5) {
    -webkit-transition-delay: 200ms;
    transition-delay: 200ms
}

.fbtn-inner.open .fbtn:nth-last-child(6) {
    -webkit-transition-delay: 250ms;
    transition-delay: 250ms
}

.fbtn-inner.open {
    opacity: 0;
    transform: rotate(225deg)
}

.fbtn-inner.open .fbtn-ori,
.fbtn-inner.open .fbtn-rotate {
    -webkit-transform: rotate(225deg);
    -ms-transform: rotate(225deg)
}

.fbtn-inner.open .fbtn-sub {
    opacity: 1;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0)
}

.fbtn-inner.open .fbtn-text {
    display: block
}

.no-touch .fbtn-inner.open .fbtn-dropdown .fbtn:hover .fbtn-text,
.touch .fbtn-text {
    height: auto;
    opacity: 1;
    width: auto
}

.fbtn-red,
.fbtn-red:active,
.fbtn-red:focus,
.fbtn-red:hover {
    color: #fff
}

.fbtn-red {
    background-color: #f44336
}

.fbtn-red:active {
    background-color: #b71c1c
}

.fbtn-lg {
    height: 56px;
    padding-top: 18px;
    padding-bottom: 18px;
    width: 56px
}

.fbtn-lg .fbtn-sub {
    top: 18px
}

.fbtn-lg~.fbtn-dropdown {
    min-width: 88px
}

html,
body,
#map-canvas {
    height: 100%;
    margin: 0px;
    padding: 0px
}

#panel {
    position: absolute;
    top: 5px;
    left: 50%;
    margin-left: -180px;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
}

.controls {
    margin-top: 16px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {}

#pac-input:focus {}

.pac-container {
    font-family: Roboto;
}

#type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
}

#type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

.gm-style img {
    max-width: none;
}

.gm-style label {
    width: auto;
    display: inline;
}