.content-inner {
    margin-top: 48px;
    margin-bottom: 48px;
}

.login-body {
    background: url(../images/bg-home.jpg) no-repeat 100%;
    margin: 0px;
    background-size: 100% 100%;
    background-position: top center;
    background-attachment: fixed !important;
}

.card-wrap {
    margin-top: 24px;
    margin-bottom: -24px
}

.card-wrap:after,
.card-wrap:before {
    content: "";
    display: table;
    line-height: 0
}

.card-wrap:after {
    clear: both
}

.card-wrap .card {
    margin-top: 0
}

.login-bg {
    background-color: rgba(250, 250, 250, 0.8);
    /*border-radius: 6px 6px 6px 6px;*/
}

.login-bg i {
    float: left;
    line-height: 40px;
    color: #0A3043;
}

.show-hide {
    float: right;
    position: absolute;
    z-index: 30;
    right: 15px;
    margin-top: -1px;
}

.show-hide a {
    color: #CCCCCC;
}

@media only screen and (min-width:360px) {
    .big-scr-pad {
        padding-bottom: 0px;
    }
    .login-btm-pad {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width:360px) {
    .big-scr-pad {
        padding-bottom: 0px;
    }
    .login-btm-pad {
        margin-bottom: 5px !important;
    }
}

@media only screen and (min-width:720px) {
    .big-scr-pad {
        padding-bottom: 10px!important;
    }
    .login-btm-pad {
        margin-bottom: 10px !important;
    }
}

.remember-me {
    color: #EEE;
}