@-ms-viewport {
    width: device-width;
    height: device-height;
}


/* http://msdn.microsoft.com/en-gb/library/ie/hh869615%28v=vs.85%29.aspx */


/* 240 + 320px */

@media screen and (min-width:180px) and (max-width:320px) {
    .pagename {
        width: 71%;
    }
    .ul-list li .input-field {
        width: 95%;
        margin-bottom: 15px;
    }
    .user-img {
        width: 55px;
        height: 50px;
    }
    .location-input {
        width: 79%;
    }
    .nav-white-text {
        color: #fff;
        font-size: 16px;
        font-weight: bold;
    }
    .blog-date {
        margin-left: 37px;
    }
    .logo-sponsor {
        width: 70px;
        height: 70px;
        background: #FFFFFF;
        border-radius: 50px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, .15), 0 1px 3px 1px rgba(0, 0, 0, .15);
    }
    .cart-right-01 p {
        margin: 5px 0;
    }
    .card-icon {
        font-size: 35px;
    }
    .card-1-of-2 p {
        font-size: 14px;
    }
    .btn-lng-01 {
        margin: 0px 4px 0px 3px;
    }
    .alert-close {
        right: 0px;
        margin-top: 28px;
    }
    .qty a {
        padding: 2px;
    }
    .col-lg-1,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-md-1,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-sm-1,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-xs-1,
    .col-xs-10,
    .col-xs-11,
    .col-xs-12,
    .col-xs-2,
    .col-xs-3,
    .col-xs-4,
    .col-xs-5,
    .col-xs-6,
    .col-xs-7,
    .col-xs-8,
    .col-xs-9,
    .col-xx-1,
    .col-xx-10,
    .col-xx-11,
    .col-xx-12,
    .col-xx-2,
    .col-xx-3,
    .col-xx-4,
    .col-xx-5,
    .col-xx-6,
    .col-xx-7,
    .col-xx-8,
    .col-xx-9 {
        padding-left: 5px;
        padding-right: 5px
    }
    .btn {
        font-size: 12px;
        padding: 6px 15px;
    }
    .card-inner-01 {
        margin: 0px 5px;
    }
    .blog-desc-01 {
        width: 195px;
    }
    .trans-filter-date {
        width: 34%;
    }
}

@media only screen and (max-width:360px) {
    .btn-menu-top-login {
        font-size: 14px !important;
        padding: 0px 0px !important;
    }
}

@media screen and (min-width:321px) and (max-width:360px) {
    .pagename {
        width: 74%;
    }
    .qty a {
        padding: 2px;
    }
    .alert-close {
        right: 0px;
        margin-top: 28px;
    }
    .icon-01 {
        padding: 0px 7px;
    }
    .trans-filter-date {
        width: 34%;
    }
}


/* 480px */

@media screen and (min-width:361px) and (max-width:615px) {
    .show-hide {
        right: 52px;
    }
    .row-login {
        margin-top: 20%;
    }
    .pagename {
        width: 75%;
    }
    .bnr-img {
        margin-top: -36%;
        left: 40%;
    }
    .bnr-text {
        margin-top: -18%;
    }
    .qty a {
        padding: 2px;
    }
    .alert-close {
        right: 0px;
        margin-top: 28px;
    }
    .icon-01 {
        padding: 0px 7px;
    }
    .trans-filter-date {
        width: 40%;
    }
}


/* 768px */

@media screen and (min-width:616px) and (max-width:800px) {
    .show-hide {
        right: 105px;
    }
    .ul-list li {
        margin-bottom: 20px;
    }
    .row-login {
        margin-top: 50px;
    }
    .pagename {
        width: 88%;
    }
    #list-table {
        width: 80%;
        margin-top: 20px;
    }
    #list-table li {
        margin-bottom: 20px;
    }
    #list-table li:first-child {
        margin-bottom: 11px;
        float: left;
        width: 100%;
    }
    .tuxedo-menu.tuxedo-menu-fixed {
        width: 50%;
    }
    .bnr-img {
        margin-top: -18%;
        left: 44%;
    }
    .bnr-text {
        margin-top: -9%;
    }
    .btn-landing {
        left: 29%;
        width: 43%;
    }
    .user-edit {
        font-size: 30px;
    }
    .trans-filter-date {
        width: 40%;
    }
}


/* 960px */

@media screen and (min-width:960px) {
    .show-hide {
        right: 233px;
    }
    .ul-list li {
        margin-bottom: 15px;
    }
    .row-login {
        margin-top: 15px;
    }
    .logo img {
        width: 11%;
    }
    #login-form {
        width: 56%;
    }
    .pagename {
        width: 90%;
    }
    #list-table {
        width: 80%;
        margin-top: 20px;
    }
    .bnr-img {
        margin-top: -14%;
    }
    .bnr-text {
        margin-top: -9%;
    }
    .trans-filter-date {
        width: 40%;
    }
}


/* 1024px */

@media screen and (min-width:1024px) {
    .show-hide {
        right: 247px;
    }
    .ul-list li {
        margin-bottom: 15px;
    }
    .row-login {
        margin-top: 50px;
    }
    .logo img {
        width: 17%;
    }
    #login-form {
        width: 56%;
    }
    .pagename {
        width: 91%;
    }
    #list-table {
        width: 80%;
        margin-top: 20px;
    }
    .tuxedo-menu.tuxedo-menu-fixed {
        width: 60%;
    }
    .bnr-img {
        margin-top: -15%;
        left: 46%;
    }
    .bnr-text {
        margin-top: -8%;
    }
    .blog-date {
        margin-left: 60px;
    }
    .btn-landing {
        left: 34%;
        width: 33%;
    }
    .user-edit {
        font-size: 30px;
    }
    .trans-filter-date {
        width: 40%;
    }
}


/* 1200px */

@media screen and (min-width:1200px) {
    .show-hide {
        right: 290px;
    }
}


/* Hide The Jquery Generated Navigation Form from 801px upwards */

@media screen and (min-width:801px) and (max-width:10000px) {}


/* Resize Extended Box */

@media screen and (min-width:1501px) {}


@media only screen and (max-width:360px) {
    .classi-margin {
        margin-bottom: 50px;
    }
    .card-inner-01 {
        margin: 0px 12px; 
    }
}
@media only screen and (min-width:360px) {
    .classi-margin {
        margin-bottom: 10px;
    }
    .btn-menu-top-login {
        font-size: 18px !important;
    }
    .card-inner-01 {
        margin: 0px 10px;
    }
}

@media only screen and (min-width:720px) {
    .classi-margin {
        margin-bottom: 10px;
    }
    .btn-menu-top-login {
        font-size: 21px !important;
    }
    .card-inner-01 {
        margin: 0px 15px;
    }
}