.header-text {
    display: block;
    font-weight: 500;
    height: 48px;
    line-height: 28px;
    padding: 10px 0;
    text-align: center;
}

.header-text:focus,
.header-text:hover  {
    text-decoration: none
}

.margin-left-no {
    margin-left: 0!important
}

.header-affix {
    overflow: hidden;
}

.header-affix,
.header-affix-hide {
    position: static !important;
}

.header-affix {
    max-height: 48px;
    width: 0
}

/*.header-affix.affix {
    overflow: visible;
    width: auto
}

.header-affix-hide.affix {
    max-height: 48px;
    overflow: hidden;
    width: 0
}*/

.nav-justified {
    width: 100%
}

.nav-justified>li {
    display: table-cell!important;
    float: none!important;
    width: 1%!important
}

.nav-justified>li>a {
    text-align: center
}

.tab-pane {
    display: none;
    visibility: hidden
}

.tab-pane.active {
    display: block;
    visibility: visible
}

.content-inner {
    margin-top: 48px;
    margin-bottom: 48px;
    padding-left: 0px;
    padding-right: 0px;
}

#transactionTable::-webkit-scrollbar {
    width:12px!important;
    border:1px solid!important;
    background-color:#cccccc!important;
    display: inline!important;
}

#transactionTable::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.content-heading-account {
    background-image: url("../images/bg-home.jpg")!important;
    background-size: 100%;
    height: 250px;
}

.cur_out {
    margin-top: 15px;
    padding-top: 20px;
}

.cur_out_p {
    overflow-x:scroll;
    width:100%;
    text-align: center;
    line-height: 30px;
    background-color:#fb0;
}

.doc_num {
    word-break:break-word!important;
    padding:10px 2px 10px 2px!important;
    /*background-color:#546E7B;*/
    height:40px;
}

.trans_hdr {
    padding:13px 10px 14px;
    height:40px;
    background-color:#3a3a3a;
}

.trans_det {
    padding-top:10px!important;
    padding-bottom:10px!important;
    height:50px;
}

.colcrdt {
    background-color:#d4fbdf; /*ddffec*/
}
.coldbt {
    background-color:#ffd4d4; /*ffdde0*/
}

.coldef {
    background-color:#EAEAEA; /*ffdde0*/
}

.table td, .table th {
    border-top: 2px solid #fff !important;
}
/*.table>tbody>tr:hover {
    background-color: #eee;
}*/
.bill_content {
    padding: 5px;
    color: #000000;
    /*padding: 0px;
    color: #000;
    margin: 5px 0;*/
    margin-left: 0px;
    margin-right: 0px;
}

.bill_items {
    width:100%;
    margin:5px 0;
    background-color:#FFEDED;
}

.bill_pdf_but {
    max-width:30%;
    float:right;
    padding:12px;
}

.acc_head {
    position: relative;
    background: #0A3043;
    color: #FFF;
    padding: 10px;
    display: block;
    cursor: pointer;
    height:40px;
    text-align: center;
    font-weight: bold;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .15), 0 1px 3px 1px rgba(0, 0, 0, .3);
}

.filterPadTop {
    padding-top: 15px!important;
    margin-top: 25px!important;
    padding-bottom: 10px!important;
}

@media only screen and (max-width:340px) {
    .bill_content {
        padding: 5px;
        color: #000000;
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media only screen and (max-width:360px) {
    .details-table-wt {
        font-size:13px;
        font-weight:400;
    }
    .bill_content {
        padding: 5px;
        color: #000000;
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media only screen and (min-width:360px) {
    .details-table-wt {
        font-size:14px;
        font-weight:400;
    }
    .bill_content {
        padding: 5px;
        color: #000000;
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media only screen and (min-width:413px) {
    .details-table-wt {
        font-size:15px;
        font-weight:400;
    }
    .cur_out {
        margin-top: 10px;
        padding-top: 35px;
    }
    .bill_content {
        padding: 5px;
        color: #000000;
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media only screen and (min-width:720px) {
    .details-table-wt {
        font-size:17px;
        font-weight:400;
    }
    .cur_out {
        margin-top: 10px;
        padding-top: 35px;
    }
    .doc_num {
        word-break:break-word!important;
        padding:0px 0px 2px 2px!important;
        background-color:#546E7B;
        height:50px;
    }
    .trans_det {
        padding-top:10px!important;
        padding-bottom:10px!important;
        height:50px;
    }
    .trans_hdr {
        padding:9px 10px 14px !important;
        height:40px;
        background-color:#3a3a3a;
    }
}

@media only screen and (min-width:1024px) {
    .details-table-wt {
        font-size:20px;
        font-weight:400;
    }
    .cur_out {
        margin-top: 10px;
        padding-top: 50px;
    }
    .doc_num {
        word-break:break-word!important;
        padding:0px 0px 2px 2px!important;
        background-color:#546E7B;
        height:50px;
    }
    .trans_det {
        padding-top:10px!important;
        padding-bottom:10px!important;
        height:50px;
    }
    .trans_hdr {
        padding:9px 10px 14px !important;
        height:40px;
        background-color:#3a3a3a;
    }
}