.news-desc {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 56px;
}

.news-date {
    width: 56px;
    height: 62px;
    background: url(../images/blog-date.png);
    position: absolute;
    float: right;
    right: 20px;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    text-align: center;
    padding-top: 5px;
    line-height: 20px;
}

.blog-desc-01 {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 42px;
}

.blog-desc-01 span {
    font-size: 12px;
    margin-top: -6px;
    position: absolute;
}

.blog-date {
    width: 56px;
    height: 62px;
    background: url(../images/blog-date.png);
    position: absolute;
    float: right;
    margin-left: 45px;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    text-align: center;
    padding-top: 5px;
}

.container:after,
.container:before,
.row:after,
.row:before {
    line-height: 0 !important;
    display: block !important;
    content: "" !important;
}

.card-img-heading {
    font-size: 20px;
    line-height: 28px;
    background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, .5));
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, .5));
    color: #fff;
    margin: 0;
    padding: 12px 16px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%
}

.card-img {
    border-radius: 0!important;
    overflow: hidden;
    position: relative
}

.card-img:first-child {
    border-radius: 2px 2px 0 0
}

.card-img:last-child {
    border-radius: 0 0 2px 2px
}

.card-img img {
    display: block;
    height: auto;
    width: 100%
}

.card-01 {
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 6px;
    margin-bottom: 12px;
    -webkit-transition: box-shadow .3s cubic-bezier(.4, 0, .2, 1);
    transition: box-shadow .3s cubic-bezier(.4, 0, .2, 1);
    max-height: 170px;
    /* border-radius: 4px; */
    padding: 0;
}