.container:after,
.container:before,
.row:after,
.row:before {
    line-height: 0 !important;
    display: block !important;
    content: "" !important;
}

.single-thread {
    position: relative;
    font-size: 14px;
    margin-bottom: 15px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    border-radius: 1px;
    /* box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24); */
    /* -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-transition: background, .3s, ease-in-out, .3s;
    -moz-transition: background, .3s, ease-in-out, .3s;
    -ms-transition: background, .3s, ease-in-out, .3s;
    -o-transition: background, .3s, ease-in-out, .3s;
    transition: background, .3s, ease-in-out, .3s */
}


/*.single-thread:hover {
    background: #fbd581
}*/

.single-thread .post-header {
    /* background: #FFF; */
    /* background: rgba(176, 190, 197, .16); */
    margin-bottom: 0px;
    /* border-bottom: 1px solid #ECEFF1; */
    padding: 9px 10px;
    overflow: auto;
}

.single-thread .post-header p {
    margin: 10px 0px 0px 0px;
    padding: 0;
    font-weight: 500;
    color: #263238;
    font-size: 14px;
}

.single-thread .post-header .topic-icon-placeholder {
    font-size: 12px;
    display: block;
    width: 45px;
    float: left;
    text-align: center;
    color: #FFF;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-decoration: none;
    height: 45px;
}

.single-thread .post-header .topic-icon-placeholder img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.single-thread .post-header .headers-col .tagline-text-content {
    font-size: 12px;
    color: #78909C;
    margin-bottom: -4px;
    width: 85%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
    margin-top: 2px;
}

.single-thread .row-12 {
    padding: 10px;
}

.single-thread h2 {
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: .12px;
    margin: 0px;
    float: left;
    width: 100%;
}

.single-thread .post-description {
    margin-top: 3px;
    margin-bottom: 0px;
    font-size: 14px;
    line-height: 18px;
    color: #666;
    float: left;
    width: 100%;
}

.single-thread-dtl {
    position: relative;
    font-size: 14px;
    border: 0;
    background: #fff;
    margin-bottom: 15px;
}

.single-thread-dtl .seprate-div {
    border-bottom: 1px solid #ECEFF1;
}

.single-thread-dtl .seprate-div:hover {
    background: #fbd581
}

.single-thread-dtl .post-header {
    margin-bottom: 0px;
    padding: 6px 6px 0px 6px;
    overflow: auto;
}

.single-thread-dtl .post-header p {
    margin: 22px 0px 0px 0px;
    padding: 0;
    font-weight: 500;
    color: #5ba00d;
    font-size: 12px;
}

.single-thread-dtl .post-header p span {
    float: right;
    font-size: 10px;
}

.single-thread-dtl .post-header .topic-icon-placeholder {
    font-size: 12px;
    display: block;
    width: 45px;
    float: left;
    text-align: center;
    color: #FFF;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-decoration: none;
    height: 45px;
}

.single-thread-dtl .post-header .topic-icon-placeholder img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.single-thread-dtl .post-header .headers-col .tagline-text-content {
    font-size: 12px;
    color: #78909C;
    margin-bottom: -4px;
    width: 85%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
    margin-top: 2px;
}

.single-thread-dtl .row-12 {
    padding: 0px 10px;
    margin-top: -8px;
}

.single-thread-dtl h2 {
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: .12px;
    margin-top: 0px;
    overflow: hidden;
    height: 49px;
}

.single-thread-dtl .post-description {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 14px;
    line-height: 18px;
    color: #666;
    padding-bottom: 0px;
}

.text-overflow {
    display: block;
    line-height: inherit;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}

.text-center {
    text-align: center
}

.header-text {
    display: block;
    font-weight: 500;
    height: 48px;
    line-height: 28px;
    padding: 10px 0;
    text-align: center;
}

.header-text:focus,
.header-text:hover {
    text-decoration: none
}

.read {
    /*color: #78909C;
    background-color: #F6F6F3 !important;*/
    /* background: #546E7B !important; */
}

.notifyTxt {
    padding-top: 15px;
    word-wrap: break-word;
    word-break: break-word;
    text-align: left;
    color: #0a3043!important;
    font-size: 14px !important;
    line-height: 20px !important;
}