.cloumn-half {
    width: 50%;
    float: left;
}

.nav:after,
.nav:before {
    content: "" !important;
    display: none !important;
    line-height: 0 !important;
}

.card-action,
.tile-action {
    border-top: 1px solid #546E7B !important;
    position: relative !important;
}