.card-01 {
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 6px;
    margin-bottom: 12px;
    -webkit-transition: box-shadow .3s cubic-bezier(.4, 0, .2, 1);
    transition: box-shadow .3s cubic-bezier(.4, 0, .2, 1);
    max-height: 170px;
    /* border-radius: 4px; */
    padding: 0;
}

container:after,
.container:before,
.row:after,
.row:before {
    line-height: 0 !important;
    display: block !important;
    content: "" !important;
}

.poll-desc-01 {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 42px;
}

.poll-desc-01 span {
    font-size: 12px;
    margin-top: -6px;
    position: absolute;
}