.container:after,
.container:before,
.row:after,
.row:before {
    line-height: 0 !important;
    display: none !important;
    content: "" !important;
}

.table td,
.table th {
    padding: 12px 0px 14px !important;
    text-align: center !important;
    border-left: 1px solid #546E7B !important;
}

#card-total {
    padding: 0px !important;
}

#card-total td {
    border-left: 0px solid #546E7B !important;
    border-top: 0px solid #546E7B !important;
    padding: 4px 0px 1px !important;
}

.hidden {
    display: none !important;
}

#credits {
    position: fixed !important;
    padding: 0px !important;
    background: transparent;
    width: 100% !important;
    height: 160px !important;
    margin: -110px auto;
    /*bottom: 50px !important;*/
    float: left !important;
    z-index: 30!important;
}

.scorecredits {
    background: #000000 !important;
    width: 100% !important;
    height: 120px !important;
    margin: 40px auto;
    padding-top: 5px;
}

a.toggle {
    color: #2F2F2F !important;
}

a.toggle:focus {
    color: #2F2F2F !important;
}

a.toggle:active {
    color: #2F2F2F !important;
}

a.toggle:hover {
    color: #2F2F2F !important;
}

.scroll-table {
    overflow-x: scroll !important;
    overflow-y: hidden !important;
    width: 100% !important;
}

.score_div01 {
    width: 25% !important;
}

.score_div02 {
    width: 75% !important;
    overflow-y: scroll !important;
    position: relative !important;
    z-index: 9 !important;
}

#userlistdiv {
    width: 90% !important;
    background-color: rgb(255, 255, 255);
    border: 1px #ccc solid;
    padding: 5px;
    position: absolute;
    z-index: 999;
    display: none;
}

#userlistdiv ul {
    margin: 0px;
    padding: 0px;
}

#userlistdiv ul li {
    list-style: none;
}

#userlistdiv ul li a {
    padding: 0px;
    color: #454545;
    line-height: 30px;
    width: 100%;
    float: left;
}

.switch_options {
    display: block !important;
    margin-bottom: 10px !important;
    float: right !important;
}

.switch_options:before,
.switch_options:after {
    content: '.' !important;
    display: block !important;
    overflow: hidden !important;
    visibility: hidden !important;
    font-size: 0 !important;
    line-height: 0 !important;
    width: 0 !important;
    height: 0 !important;
}

.switch_options:after {
    clear: both !important;
}

.switch_options span {
    display: inline-block !important;
    float: left !important;
    padding: 5px 14px !important;
    margin: 0 !important;
    cursor: pointer !important;
    font-size: 12px !important;
    font-weight: 700 !important;
    color: #555 !important;
    border: 1px solid #aaa !important;
    text-transform: uppercase !important;
    background: #ffffff !important;
    /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #e5e5e5));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5', GradientType=0);
    /* IE6-9 */
}

.switch_options span:first-of-type {
    border-radius: 2px 0 0 2px !important;
    border-right: 0 !important;
}

.switch_options span:last-of-type {
    border-radius: 0 2px 2px 0 !important;
    border-left: 0 !important;
}

.switch_options span:hover {
    background: #fafafa !important;
}

.switch_options span.selected {
    background: #0A3043 !important;
    /* Old browsers */
    background: -moz-linear-gradient(top, #0A3043 0%, #0A3043 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0A3043), color-stop(100%, #0A3043));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #0A3043 0%, #0A3043 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #0A3043 0%, #0A3043 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #0A3043 0%, #0A3043 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #0A3043 0%, #0A3043 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#0A3043', endColorstr='#0A3043', GradientType=0);
    /* IE6-9 */
    border-color: #0A3043;
    color: #fff;
}

@media screen and (min-width: 1000px) {
    .modal-heading,
    .modal-inner {
        margin-bottom: 0px !important;
        float: left !important;
        width: 100% !important;
    }
    .modal-title {
        margin-top: 0 !important;
        margin-right: 28px !important;
        margin-bottom: 0px !important;
    }
    .form-group-label {
        margin-top: 10px !important;
        margin-bottom: 10px !important;
        float: left !important;
        width: 100% !important;
    }
}

.card-inner {
    margin: 11px 16px !important;
    position: relative !important;
    float: left !important;
    width: 91% !important;
}

.close-btn {
    float: right;
    font-size: 14px;
    background: #ECECEC;
    border-radius: 4px;
    padding: 4px 8px;
}

.card-header-side>.avatar:first-child {
    margin-top: -10px;
}

.card-header-side>.avatar:last-child {
    margin-bottom: -10px;
}

.card-header-side>.avatar-sm:first-child {
    margin-top: -6px;
}

.card-header-side>.avatar-sm:last-child {
    margin-bottom: -6px;
}

.card-header-side {
    vertical-align: middle;
    padding-top: 18px;
    padding-bottom: 18px
}

.card-header-side.pull-left {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
    padding-left: 16px
}

.card-header-side.pull-right {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    padding-right: 16px
}

.no-flexbox .card-header-side+.card-inner {
    overflow: hidden
}

.no-flexbox .card-header-side.pull-left {
    padding-right: 16px;
}

.no-flexbox .card-header-side.pull-right {
    padding-left: 16px;
}

.card-heading {
    display: block !important;
    margin-top: 8px !important;
    margin-bottom: 5px !important;
}

.user-list li {
    margin-bottom: 10px;
    list-style: none;
    float: left;
    width: 100%;
    border-bottom: #babab9 1px solid;
    background: url(../images/Info-Tab.jpg) repeat-x;
    background-size: 100% 100%;
    margin-bottom: 0px;
}

.bold-match-color {
    font-size: 18px !important;
    color: #0A3043 !important;
    font-weight: bold !important;
}

.picker__table,
table {
    border-collapse: collapse !important;
    border-spacing: 0 !important;
}

.picker__input {
    background-color: #FFFFFF !important;
    border: #C1C1C1 1px solid !important;
    color: #03131E!important;
    cursor: text!important;
}

.head-hole {
    background: #c5c5c5 !important;
    width: 100% !important;
    height: 55px !important;
}

.hole-par-no {
    width: 50px !important;
    height: auto !important;
}

.hole-par-no div {
    font-size: 18px !important;
    color: #565656 !important;
    text-align: center !important;
    margin: 0px !important;
    font-weight: bold !important;
}

.hole-par-no p {
    font-size: 12px !important;
    color: #565656 !important;
    text-align: center !important;
    margin: 0px !important;
    line-height: 17px !important;
    margin: 0px !important;
}


/*.content__table {
    border-collapse: unset !important;
    border-spacing: 15px !important;
}*/

#keyboard {
    list-style: none;
}

#keyboard li {
    float: left !important;
    margin: 0 8px 8px 4px !important;
    width: 12%;
    height: 40px !important;
    font-size: 22px;
    line-height: 40px !important;
    text-align: center !important;
    background: #444444 !important;
    border: 1px solid #f9f9f9 !important;
    border-radius: 0px !important;
    color: #ffffff !important;
}

.clearl {
    clear: left;
}

#keyboard li:hover {
    position: relative;
    top: 1px;
    left: 1px;
    border-color: #e5e5e5;
    cursor: pointer;
}

.ctrlkey1 {
    width: 58px !important;
    font-size: 20px !important;
}

.ctrlkey2 {
    width: 78px !important;
    font-size: 20px !important;
}

@media only screen and (max-width:360px) {
    .pnfont {
        font-size: 14px !important;
    }
    .btn-alt {
        font-size: 14px !important;
        /*padding: 0px 0px !important;*/
    }
    .btn-lng {
        padding: 0px 0px !important;
    }
    .namfont {
        font-size: 14px!important;
    }
    .scrfont {
        font-size: 14px!important;
    }
}

@media only screen and (min-width:360px) {
    .pnfont {
        font-size: 16px !important;
    }
    .btn-alt {
        font-size: 16px !important;
        padding: 10px 10px !important;
    }
    .btn-lng {
        padding: 1px 1px !important;
    }
    .namfont {
        font-size: 16px!important;
    }
    .scrfont {
        font-size: 16px!important;
    }
}

@media only screen and (min-width:720px) {
    .pnfont {
        font-size: 18px !important;
    }
    .btn-alt {
        font-size: 18px !important;
        padding: 10px 10px !important;
    }
    .btn-lng {
        padding: 6px 15px !important;
    }
    #keyboard li {
        width: 14%;
    }
    .namfont {
        font-size: 22px!important;
    }
    .scrfont {
        font-size: 22px!important;
    }
}

.keyclosediv {
    float: right!important;
    width: 12%;
    height: 40px;
    background: #000000 !important;
    line-height: 40px !important;
    margin: 0px 0px -13px 0px !important;
    font-size: 20px!important;
    border: 0px!important;
    text-align: center !important;
    color: #ffffff !important;
}

.tee-bg {
    height: auto;
    /*display: table-cell;*/
    text-align: center;
    vertical-align: middle;
    border-radius: 5%;
    border: 1px solid grey;
    box-shadow: 1px 1px 1px grey;
    padding: 4px 3px 0 3px;
}