
@media only screen and (max-width:360px) {
    .versionnum {
        text-align:center;
        color:#072434;
        font-size:12px;
        width:100%;
    }

    .copyrt {
        text-align:center;
        color:#072434;
        font-size:10px;
        width:100%;
    }
}
@media only screen and (min-width:360px) {
    .versionnum {
        text-align:center;
        color:#072434;
        font-size:17px;
        width:100%;
    }

    .copyrt {
        text-align:center;
        color:#072434;
        font-size:13px;
        width:100%;
    }
}
@media only screen and (min-width:413px) {
    .versionnum {
        text-align:center;
        color:#072434;
        font-size:20px;
        width:100%;
    }

    .copyrt {
        text-align:center;
        color:#072434;
        font-size:14px;
        width:100%;
    }
}
@media only screen and (min-width:760px) {
    .versionnum {
        text-align:center;
        color:#072434;
        font-size:23px;
        width:100%;
    }

    .copyrt {
        text-align:center;
        color:#072434;
        font-size:16px;
        width:100%;
    }
}

@media only screen and (min-width:1024px) {
    .versionnum {
        text-align:center;
        color:#072434;
        font-size:26px;
        width:100%;
    }

    .copyrt {
        text-align:center;
        color:#072434;
        font-size:18px;
        width:100%;
    }
}