.input-field-01 {
    transition: all 800ms;
    border: none;
    outline: none;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    padding-left: 0px;
    font-size: 14px;
    width: 95%;
    color: #0A3043;
    text-align: center;
}

.margin-top-no {
    margin-top: 0!important
}

.cart-grids {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    float: left;
}

.alert-close {
    cursor: pointer;
    height: 22px;
    width: 17px;
    position: absolute;
    right: 10px;
    margin-top: 31px;
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    z-index: 1;
    color: #7e7e7e;
    font-size: 20px;
}

.cart-left-01 {
    width: 25%;
    float: left;
    margin-right: 2.6%;
}

.cart-left-01 img {
    width: 100%;
    height: 100%;
    min-height: 86px;
}

.cart-right-01 {
    width: 34%;
    float: left;
    margin-left: 2%;
}

.cart-right-01 h4 {
    margin: 0;
    color: #625548;
    font-size: 15px;
    line-height: 1.3em;
    font-weight: 600;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: initial;
}

.cart-right-02 {
    width: 27%;
    float: left;
    margin-left: 2%;
    margin-top: 5%;
}

.card-alt,
.card-alt-bg {
    box-shadow: 0 0 2px rgba(0, 0, 0, .3), 0 1px 6px rgba(76, 175, 80, .3)
}

.no-boxshadow .card-alt,
.no-boxshadow .card-alt-bg {
    border-color: #c8e6c9
}

.card-alt-bg {
    background-color: #0A3043
}

.card-alt .card-action,
.card-alt .tile-action,
.card-alt-bg .card-action,
.card-alt-bg .tile-action {
    border-top-color: #c8e6c9
}

.card-alt-bg .card-action,
.card-alt-bg .tile-action {
    border-top-color: #388e3c
}

.card-alt-bg .card-main a {
    color: #c8e6c9
}

.card-alt .card-side,
.card-alt-bg .card-side {
    background-color: #0A3043;
    color: #fff
}

.card-alt .card-side[href]:focus,
.card-alt .card-side[href]:hover,
.card-alt-bg .card-side,
.card-alt-bg .card-side[href]:focus,
.card-alt-bg .card-side[href]:hover {
    background-color: #388e3c
}

.card-alt-bg .card-side[href]:focus,
.card-alt-bg .card-side[href]:hover {
    background-color: #1b5e20
}

.nav:after,
.nav:before {
    content: "";
    display: none;
    line-height: 0;
}

.card-action,
.tile-action {
    border-top: 1px solid #546E7B !important;
    position: relative !important;
}