.rules-area {
    padding: 10px;
    float: left;
}

.rules-area li {
    display: block;
    padding-bottom: 10px;
    border-left: 1px solid #babab3;
    float: left;
    width: 100%;
}

.rules-dots {
    float: left;
    width: 5%;
    margin-left: -7px;
    font-size: 15px;
    margin-top: -3px;
}

.rules-desc {
    float: left;
    margin-left: 3%;
    width: 90%;
    background: #ffffff;
    padding: 10px;
    -webkit-box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.34);
    -moz-box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.34);
    box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.34);
    border-radius: 6px;
}

.rules-desc p {
    font-size: 14px;
    color: #666666;
    line-height: 21px;
    padding: 0px 0;
    font-weight: 500;
    margin: 0px;
}

.red {
    color: #dd4040;
}

.blue {
    color: #0d47a1;
}

.green {
    color: #8bc34a;
}

.orange {
    color: #ff9800;
}

@media only screen and (max-width:360px) {
    .rules-desc {
        margin-left: 3% !important;
        width: 80%!important;
        min-width: 260px!important;
    }
}

@media only screen and (min-width:360px) {
.rules-desc {
        margin-left: 3% !important;
        width: 90%!important;
        min-width: 280px!important;
    }
}