.logo-sponsor {
    width: 100px;
    height: 100px;
    background: #FFFFFF;
    border-radius: 50px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .15), 0 1px 3px 1px rgba(0, 0, 0, .15);
}

.logo-sponsor img {
    border-radius: 50%;
    height: 100%;
    vertical-align: top;
    width: 100%;
}

.bold-match-color-02 {
    font-size: 16px;
    color: #0A3043;
    /*font-weight: bold;*/
}