.price1 {
    margin-top: 10px;
}

.span_1_of_3 {
    width: 100%;
    margin: 0px;
}

.span_1_of_3:hover {
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    color: #fff;
}

.span_1_of_3:hover .cart-right {
    float: right;
    background: url(../images/cart3.png)3px 3px #7DB122;
    border-radius: 100px;
    width: 26px;
    height: 26px;
    text-align: center;
}

.container:after,
.container:before,
.row:after,
.row:before {
    line-height: 0 !important;
    display: block !important;
    content: "" !important;
}

.card-inner {
    margin: 11px 16px !important;
    position: relative !important;
    float: left !important;
    width: 91% !important;
}

.dropdown-menu {
    border-radius: 2px 0 2px 2px !important;
    right: 0 !important;
    left: auto !important;
    -webkit-transform-origin: 100% 0 !important;
    -ms-transform-origin: 100% 0 !important;
    transform-origin: 100% 0 !important;
}

.picker__table,
table {
    border-collapse: collapse !important;
    border-spacing: 0 !important;
}

.picker__input {
    background-color: #FFFFFF !important;
    border: #C1C1C1 1px solid !important;
    color: #03131E !important;
    cursor: text !important;
}

.content__table {
    border-collapse: unset !important;
    border-spacing: 15px !important;
}

#userlistdiv {
    width: 90%;
    background-color: rgb(255, 255, 255);
    border: 1px #ccc solid;
    padding: 5px;
    position: absolute;
    z-index: 999;
    display: none;
}

#userlistdiv ul {
    margin: 0px;
    padding: 0px;
}

#userlistdiv ul li {
    list-style: none;
}

#userlistdiv ul li a {
    padding: 0px;
    color: #454545;
    line-height: 30px;
    width: 100%;
    float: left;
}

.close-btn {
    float: right;
    font-size: 14px;
    background: #ECECEC;
    border-radius: 4px;
    padding: 5px 10px;
}

input[type="radio"] {
    display: none;
}

.checkedlabel {
    font-weight: bold;
    background: #f1f1f1;
    padding: 5px;
    border-radius: 12px;
}

input[type="radio"]:checked+label {
    font-weight: bold;
    background: #f1f1f1;
    padding: 5px;
    border-radius: 12px;
}

.card-header-side>.avatar:first-child {
    margin-top: -10px;
}

.card-header-side>.avatar:last-child {
    margin-bottom: -10px;
}

.card-header-side>.avatar-sm:first-child {
    margin-top: -6px;
}

.card-header-side>.avatar-sm:last-child {
    margin-bottom: -6px;
}

.card-header-side {
    vertical-align: middle;
    padding-top: 18px;
    padding-bottom: 18px
}

.card-header-side.pull-left {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
    padding-left: 16px
}

.card-header-side.pull-right {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    padding-right: 16px
}

.no-flexbox .card-header-side+.card-inner {
    overflow: hidden
}

.no-flexbox .card-header-side.pull-left {
    padding-right: 16px;
}

.no-flexbox .card-header-side.pull-right {
    padding-left: 16px;
}