.picker__table,
table {
    border-collapse: collapse !important;
    border-spacing: 0 !important;
}

.picker__input {
    background-color: #FFFFFF !important;
    border: #C1C1C1 1px solid !important;
    color: #03131E!important;
    cursor: text!important;
}

.card-img {
    border-radius: 0!important;
    overflow: hidden;
    position: relative
}

.card-img:first-child {
    border-radius: 2px 2px 0 0
}

.card-img:last-child {
    border-radius: 0 0 2px 2px
}

.card-img img {
    display: block;
    height: auto;
    width: 100%
}

.cam-icon {
    width: 52px;
    height: 32px;
    position: absolute;
    margin-top: 32px;
    margin-left: 8px;
}

.content-heading-account {
    background-image: url("../images/bg-home.jpg")!important;
    background-size: 100%;
    height: 250px;
}

.chk-box-pad {
    margin: 9px 0 0 !important;
    height: 20px!important;
}

.lable-align {
    text-align: center !important;
    border: none !important;
    padding: 0 !important;
    height: 20px !important;
}

.lable-block {
    display:inline!important;
    max-width: 80% !important;
    word-wrap: break-word;
}