.weather {
    margin-top: -50px;
}

.tweets {
    margin-top: 15px;
}

.weather h3,
.tweets h3 {
    color: #FFF;
    font-size: 1.2em;
    text-transform: uppercase;
    padding: 15px 0px;
    text-align: center;
    background: none repeat scroll 0% 0%;
    border-radius: 0px 0px 0px 0px;
}

.weather h3 i img,
.tweets h3 i img {
    vertical-align: middle;
}

.today_temp {
    padding: 1em 0px;
   /* background: #F1F1F1 none repeat scroll 0% 0%; */
    text-align: center;
    background-color: rgba(225, 225, 225, 0.60);
}

.today_temp img {
    vertical-align: bottom;
}

.temp {
    display: inline-block;
}

.temp figure {
    font-size: 1.2em;
    color: #072434;
    text-align: center;
    padding: 0;
}

.temp figure span {
    font-size: 3em;
    color: #072434;
    display: block;
}

.temp figure span em {
    font-size: 0.25em;
    vertical-align: top;
}

.temp_list {
   /* background: #dcdcdc; */
     background-color: rgba(225, 225, 225, 0.85);
}

.temp_list li a {
    display: block;
    color: #072434;
    font-size: 1em;
    text-transform: uppercase;
    border-bottom: 5px solid #b5b5b5;
    padding: 20px 25px 15px 25px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.temp_list li a span {
    color: #333;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.temp_list li a label {
    color: #333;
    font-size: 1em;
    float: right;
    letter-spacing: 1px;
}

.temp_list li a label em {
    font-size: 0.5em;
    vertical-align: top;
}

.temp_list li a label i > img {
    vertical-align: middle;
    margin-top: -5px;
}

.temp_list ul {
    list-style: none;
    padding: 0px;
}
.weather-bg{
    background-image: url("../images/bg-home.jpg") !important;
    background-size:100% 100%;
    overflow-y: scroll;
    height: auto;
}